<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John's Tech Blog</title>
</head>
<body>
    <div>
        <header>
            <li><a href="{{home}}"</li>
            <li><a href="{{Dashboard}}"</li>
            <li><a href="{{Login}}"</li>
            <li><a href="{{Logout}}"</li>
        </header>
    </div>
    <div class="container">
        <h1>John's Tech Blog 101</h1>

    </div>

    
</body>
</html>